<!DOCTYPE html>
<html lang="en">

    <title>Carrito</title> 
    <%- include('../partials/head.ejs') %>
    
<body>

    <%- include('../partials/header.ejs') %> 

    <main>

        <div class="card">
            <article class="card2">
                <div class="unir">
                    <img class="imgcart" src="/images/bajo.jpg" alt="">
                    <div class="block">
                        <div>Detalle del producto</div>
                        <div class="btns">
                            <button class="btn">Eliminar</button>
                            <button class="btn">Guardar</button></div>
                    </div>
                    <p class="block">$10.000.-</p>
                </div>
            </article>

            <article class="total">
                TOTAL:
            </article>

        </div>
        <article class="total">
            <button>Finalizar Compra</button>
        </article>
        


    </main>

    <%- include('../partials/footer.ejs') %> 

</body>

</html>