*{
    font-family: oswald;
}

.titulares-home {
    text-align: center;
    color: black;
    margin-left: 10%;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

main {
    width: 90%;
}

.section-home {
    width: 100%;
    margin-left: 5%;
    margin-top: 10px;

}

.imagen-home {
    width: 100%;
    border-bottom: 1px solid black;
}

.tarjeta {
    text-decoration: none;
    color: black;
    width: 100%;
}


.articulo-destacado {
    background-color: rgb(247, 224, 224);
    margin-bottom: 20px;
    border: 1px solid black;
    position: relative;
    transition: 1s;
}

.articulo-destacado:hover {
    box-shadow: 0px 0px 29px -2px rgba(0,0,0,0.58);
    -webkit-box-shadow: 0px 0px 29px -2px rgba(0,0,0,0.58);
    -moz-box-shadow: 0px 0px 29px -2px rgba(0,0,0,0.58);;
}

.descripcion {
    font-size: 20px;
    padding:5px;
    padding-left: 20px;
    padding-bottom: 5px ;
}

.seccion-detalle{
    width: 90%;
    margin-left: 5%;
}

.imagen-detalle-productos{
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 4px;
}

.imagen-detalle-user{
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 4px;
}

.titular-detalle{
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    text-align: center;

}
.detalle{
    font-size: 20px;
    text-align: left;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
}

.boton-detalle{
    margin-top: 20px;
    color: white;
    background-color: #0875AF;
    border-radius: 5px;
    width: 150px;
    text-align: center;
    align-self: center;
    border: 1px solid #0875AF;
    height: 30px;
    text-decoration: none;
    cursor: pointer;
}

.form-detalle{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-left: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-articulo{
    display: flex;
    justify-content: center;
}

.div-detalle{
    width: 100%;
    text-align: center;
    margin-bottom: 10%;
}


.mensaje-error{
    color: red;
}

.is-invalid{
    border: 2px solid red;
}

@media(min-width:480px) {
    .section-home {
        display: flex;
        flex-wrap: wrap;
    }

    .tarjeta {
        width: 45%;
        margin-left: 5%;
    }

    .imagen-home {
        height: 30vh;
    }
}

@media(min-width:768px) {

.div-detalle-user {
  width: 100%;
  text-align: center;
  margin-bottom: 10%;
  text-align: left;
  margin-top: 9%;
}
    .section-home {
        display: flex;
        flex-wrap: wrap;
        
    }

    .tarjeta {
        width: 23%;
        margin-left: 2%;
    }

    .imagen-home {
        height: 35vh;
    }
    .imagen-detalle-productos{
        width: 50%;
       
    }
    .imagen-detalle-user{
        width: 40%;
       
    }
    .tarjeta-detalle{
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .detalle{
        text-align: center;
    }
  
}

@media(min-width:1024px) {

    .seccion-detalle{
        width: 60%;
    }
    .imagen-detalle-user1 {
        border-radius: 50%;
width: 44%;
margin-top: 2%;
      }
    .imagen-detalle-user {
        width: 60%;
        border-radius: 50%;
      }

      .imagen-detalle-productos {
        width: 60%;
    
      }
    .tarjeta-detalle{
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .detalle{
        text-align: center;
    }
    .imagen-detalleñ{
        width: 100%;
    }
}