<!DOCTYPE html>
<html lang="en">

<title>Nosotros</title> 
    <%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/header.ejs') %>

    <main class="main-us">

        <section class="section-nosotros">

            <h1 class="titular-contacto2">Nosotros</h1>

            <h2 class="subtitulo-nosotros"> Somos DHRentals y tenemos el sonido que buscás.</h2>

            <p class="parrafo-contacto">Nuestra misión es que cada músico logre el sonido que desea.
                Cada instrumento musical que encuentres en nuestra tienda fue seleccionado especialmente por músicos como vos.</p>

            <h3 class="subtitulo-nosotros">En DH Rentals, tu presupuesto no es un impedimento.</h3>

            <h3 class="subtitulo-nosotros2"> En DHRentals somos apasionados del sonido como vos.</h3>


        </section>

    </main>

    <%- include('./partials/footer.ejs') %>

</body>

</html>