<header>

    <a href="/" class="imagenLogo"><img class="logo" src="/images/logo.jpg" alt=""></a>

    <section class="section-header">

        <% if (locals.isLogged) { %>
            <a class="icono-header1" href="/users/profile"><img class="imagen-usuario" src="/images/users/<%= locals.userLogged.image %>" alt=""></a>
            <a class="icono-header2" href="/products/productCart"><i class="fa-solid fa-cart-shopping"></i></i></a>
            <a class="icono-header2" href="/users/logout"><i class="fa-solid fa-right-from-bracket"></i></a>
        <% } %>
        
       
        
    </section>

    <nav role="navigation" class="mobile">
        <div id="menuToggle">
            <input type="checkbox"/>
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
                <% if (locals.isLogged) { %>
                    <a href="/users/Profile">
                        <li>Mi cuenta</li>
                    </a>
                <% } %>
                <% if (!locals.isLogged) { %>
                <a href="/users/login">
                    <li>Iniciar sesion</li>
                </a>
                <a href="/users/register">
                    <li>Registrarse</li>
                </a>
                <% } %>
                <% if (locals.isLogged) { %>
                <a href="/products/productCart">
                    <li>Mi carrito</li>
                </a>
                <% } %>
                <a href="/products/products">
                    <li>Productos</li>
                </a>
                <a href="/us">
                    <li>Nosotros</li>
                </a>
                <a href="/contact">
                    <li>Contacto</li>
                </a>
                <% if (locals.isLogged && locals.userLogged.rol == "admin") { %>
                <a href="/products/productCreate">
                    <li>Agregar Producto</li>
                </a>
                <a href="/users/users">
                    <li>Usuarios</li>
                </a>
                <% } %>
                <a href="/users/logout">
                    <li>Salir</li>
                </a>
            </ul>
        </div>
    </nav>

    <nav class="desktop">
        <ul>
            <% if (!locals.isLogged) { %>
            <li><a href="/users/login">Ingresar</a></li>
            <li><a href="/users/register">Registrarse</a></li>
            <% } %>
            <li><a href="/products/products">Productos</a></li>
            <li><a href="/us">Nosotros</a></li>
            <li><a href="/contact">Contacto</a></li>
            <% if (locals.isLogged && locals.userLogged.rol == "admin") { %>
            <li><a href="/products/productCreate">Agregar Producto</a></li>
            <li><a href="/users/users">Usuarios</a></li>
             <% } %>
           
        </ul>
    </nav>

</header>